@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');


.logoWrapper {
    display: flex;
    justify-content: center;
}

.logoContainer {

}

.logoItem {
    height: 45px;
    width: 100%;
    font-family: ;
    font-size: 40px;
}