.logoWrapper {
    display: flex;
    justify-content: center;
}

.logoContainer {

}

.logoItem {
    height: 45px;
    width: 100%;
    margin: 66px 3px 36px 0px;
    font-family: Ubuntu;
    font-size: 40px;
}